{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-center mb-5">
            <div class="col-3 text-center">
                <img src="{{ user.picture }}" class="mb-3" style="border-radius: 50%" height="auto" width="100%" alt="Avatar de {{ user.username }}">
            </div>
            <div class="col-9">
                <h1>Email : {{ user.email }}</h1>
            </div>
        </div>
        <hr />
    </div>
{% endblock %}
