{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="py-5">Catégorie : <strong>{{ category.title }}</strong></h1>
        <hr>
        <div class="row">
            {% for movie in category.movies %}
                <div class="col-4">
                    {% include "_includes/_card.html.twig" with {'movie': movie } %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}