{% extends 'base.html.twig' %}

{% block title %}Add movie{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="py-5">Ajouter un film</h1>
        {{ form(form) }}
    </div>

{% endblock %}