{% block footer %}
    <footer class="mt-5 bg-light py-5 text-center">
        <div class="footer-copyright text-center py-3">© 2019 Copyright
            <a href="{{ path('home') }}" target="_blank">symfo-film.com</a>
        </div>
    </footer>
{% endblock %}
